<html>
<head>
    <title>Upload</title>

    <link rel="apple-touch-icon" href="logo192.png" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <link href="{{url_for('static',filename='css/page2.css') }}" rel="stylesheet" type="text/css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
       function goPython(){
           $.ajax({
             path: "/ml/python/pyscript.py",
            context: document.body
           }).done(function() {
            alert('Finished ML Script');;
           });
       }
   </script>

</head>
<body>
    <div class content>
        <div class="ui grid container">
            <div class="sixteen wide column">
                <div class="head_items">
                    GIVE US A PICTURE
                </div>
            </div>
            <div class="seven wide column">
                <div class="upload_form1">
                    <div class="ui button" tabindex="0">
                            <div class="visible content">Take a Picture</div>
                    </div>
                </div>
            </div>
            <div class="one wide column">
                <div class=sub_heading>
                    OR
                </div>
            </div>
            <div class="six wide column">
                <div class="upload_form2">
                        <form class="ui form" action = "/Choose_Template" method = "post" enctype="multipart/form-data">
                            <input class="ui button" type="file" name="file" />
                            <input class="ui button" type = "submit" value="Upload">
                        </form>
                </div>
            </div>

        </div>
    </div>


</body>
</html>
