<html>
<head>
    <title>upload</title>

    <link rel="apple-touch-icon" href="logo192.png" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <link href="{{url_for('static',filename='css/index.css') }}" rel="stylesheet" type="text/css">

</head>
<body>
  <br><br><br><br>
    <div class="ui grid container">
        <div class="eight wide column">

            <div class="head_items">
                Try First
                <div class="sub_heading">
                    A virtual space for you to try out that dress you like.
                </div>
                <a href="{{url_for('upload')}}">
                    <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button>
                </a>
            </div>
        </div>
        <div class="eight wide column">
            <div class="main_image">
                <img src="{{url_for('static',filename='images/1.jpg') }}" style="width: 600px;height: 600px;" />
            </div>
        </div>
    </div>


</body>
</html>