<html>
<head>
    <title>upload</title>

    <link rel="apple-touch-icon" href="logo192.png" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <link href="{{url_for('static',filename='css/page3.css') }}" rel="stylesheet" type="text/css">
    <script>
            function hello(){
                 alert('Finished ML Script');;
            }
    </script>

</head>
</html>